@CHARSET "UTF-8";

/* UI Object */
.paginate_regular {
	padding: 15px 0;
	text-align: center;
	line-height: normal
}

.paginate_regular a,.paginate_regular strong {
	display: inline-block;
	position: relative;
	margin: 0 -2px;
	padding: 2px 8px;
	font-weight: bold;
	font-size: 12px;
	font-family: Tahoma, Sans-serif;
	color: #333;
	line-height: normal;
	text-decoration: none;
	vertical-align: middle
}

.paginate_regular a:hover,.paginate_regular a:active,.paginate_regular a:focus
	{
	background-color: #f8f8f8
}

.paginate_regular strong {
	color: #f60
}

.paginate_regular .direction {
	font-weight: normal;
	color: #767676;
	white-space: nowrap
}

.paginate_regular .direction span {
	font-weight: bold;
	font-size: 14px
}

.paginate_regular .direction:hover,.paginate_regular .direction:active,.paginate_regular .direction:focus
	{
	background-color: #fff;
	color: #333
}
/* //UI Object */