@CHARSET "UTF-8";

/* UI Object */ /* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select
	{
	margin: 0;
	padding: 0
}

body,input,textarea,select,button,table {
	font-family: '돋움', Dotum, AppleGothic, sans-serif;
	font-size: 12px
}

img,fieldset {
	border: 0
}

ul,ol {
	list-style: none
}

em,address {
	font-style: normal
}

a {
	text-decoration: none
}

a:hover,a:active,a:focus {
	text-decoration: underline
}

.ld_line {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	height: 40px
}

.ld_line:after {
	display: block;
	clear: both;
	content: ''
}

.ld_line .lft,.ld_line .rgt {
	float: left;
	width: 11px;
	height: 40px;
	font-size: 0;
	line-height: 0
}

.ld_line .lft {
	background: url(../image/loading-lft.png) no-repeat 0 0;
	_background: none;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'../image/loading-lft.png', sizingMethod = 'crop' )
}

.ld_line .rgt {
	background: url(../image/loading-right.png) no-repeat 0 0;
	_background: none;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'../image/loading-right.png', sizingMethod = 'crop' )
}

.ld_line .cont {
	float: left;
	height: 26px;
	padding: 14px 7px 0 0;
	background: url(../image/loading-center.png) repeat-x 0 0;
	_background: none;
	_filter: progid : DXImageTransform.Microsoft.AlphaImageLoader ( src =
		'../image/loading-center.png', sizingMethod = 'scale' );
	color: #fff
}

.ld_line .cont img {
	margin: -3px 9px 0 0;
	vertical-align: top
}

/* //UI Object */