@CHARSET "UTF-8";
/* UI Object */
dl, dt, dd {
  margin: 0;
  padding: 0;
}

.image-grid {
  border: 1px solid silver;  
  padding: 10px;
}

.image-grid > .image-grid-body > div {
	float: left;
	margin: 10px;
}

.image-grid > .image-grid-body > div > img {
	width: 130px;
	height: 100px;
}

.image-grid > .image-grid-body > div > dl {
  margin-top: 5px;
}

.image-grid > .image-grid-body > div > dl > dd {
  font-size: 12px;
  margin-top: 5px;
  color: #777777;
}

.image-grid > .image-grid-body > div > dl > dt > a {
	width: 120px;
	display: block;
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}

.clear {
  clear: both;
}
/* //UI Object */