@CHARSET "UTF-8";

/* UI Object */
div {
  margin: 0 0 10px;
  color: #2d2c2d;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: bold;
}

#wrap {
	width: 100%;
	position: relative;
  width: auto;
  padding: 10px;
  border: 1px solid #bdbdbd;
  background: #f7f7f7;
}

#header {
	width: 100%;
	width: auto;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #bfbfbf;
  background: #e5e5e5;
}

#container {
	*display: inline-block;
	_width /**/: 100%;
	padding-right: 200px;
	padding-left: 200px;
	position: relative;
  border: 2px solid #bfbfbf;
  background: #e5e5e5;
}

#container:after {
	display: block;
	clear: both;
	content: '';
}

.left-side-bar {
	float: left;
	position: relative;
	margin-right: -181px;
  height: 300px;
  margin-top: 10px;
  border: 1px solid #bdbdbd;
  background: #fff;
  text-align: center;
}

.left-side-bar.open {
  left: -190px;
}

.left-side-bar.close {
  left: -47px;
}

.left-side-bar > ul {
  position: relative;
  width: 143px; 
  height: 300px;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-side-bar.open > ul {
  display: inline;
}

.left-side-bar.close > ul {
  display: none;
}

.left-side-bar > div#left-side-boundary {
  position: relative;
  float: right;
  border: 1px solid #bdbdbd;
  width: 33px;
  height: 300px;
}

.left-side-bar > div#left-side-boundary > span {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 33px;
  height: 54px;
  margin-top: -27px;
}

.left-side-bar.open > div#left-side-boundary > span {
  background: url(../image/se.png) no-repeat -120px -640px;
}

.left-side-bar.close > div#left-side-boundary > span {
  background: url(../image/se.png) no-repeat -80px -640px;
}

.left-side-bar > div#left-side-boundary > span > button {
  display: inline-block;
  overflow: hidden;
  border: 0;
  background: none;
  cursor: pointer;
  width: 33px;
  height: 54px;
}

#content {
	float: left;
	width: 100%;
	position: relative;
  height: 300px;
  margin-top: 10px;
  border: 1px solid #bdbdbd;
  background: #fff;
  text-align: center;
}

.right-side-bar {
	float: left;
	position: relative;
  margin-top: 10px;
	margin-left: -180px;
  border: 1px solid #bdbdbd;
  background: #fff;
  text-align: center;
}

.right-side-bar.open {
  left: 190px;
}

.right-side-bar.close {
  left: 190px;
}

.right-side-bar > div#right-side-boundary {
  position: relative;
  float: left;
  border: 1px solid #bdbdbd;
  width: 33px;
  height: 300px;
  margin: 0;
}
 
.right-side-bar > div#right-side-boundary > span {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 33px;
  height: 54px;
  margin-top: -27px;
}

.right-side-bar.open > div#right-side-boundary > span {
  background: url(../image/se.png) no-repeat -120px -640px;
}

.right-side-bar.close > div#right-side-boundary > span {
  background: url(../image/se.png) no-repeat -80px -640px;
}

.right-side-bar > div#right-side-boundary > span > button {
  display: inline-block;
  overflow: hidden;
  border: 0;
  background: none;
  cursor: pointer;
  width: 33px;
  height: 54px;
}

.right-side-bar > ul {
  position: relative;
  width: 143px; 
  height: 300px;
  float: left;
  margin: 0;
  padding: 0;
  list-style: none;
}

.right-side-bar.open > ul {
  display: inline;
}

.right-side-bar.close > ul {
  display: none;
}

#footer {
	width: 100%;
	clear: both;
  width: auto;
  padding: 10px;
  border: 2px solid #bfbfbf;
  background: #e5e5e5;
}
/* //UI Object */