@CHARSET "UTF-8";

/* UI Object */
html,body {
	height: 100%;
	margin: 0;
}

.modal-window {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.modal-window .modal-background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	filter: alpha(opacity = 50)
}

.modal-window .modal-frontground {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 360px;
	height: 160px;
	margin: -100px 0 0 -200px;
	padding: 20px;
	border: 3px solid #ccc;
	background: #fff
}
/* //UI Object */