<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
	  <link rel=stylesheet href="../css/dynamic_three_column_layout.css" type="text/css">
	  <script type="text/javascript" src="../../../common/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="../js/dynamic_three_column_layout.js"></script>
	</head>
	<body>
		<!--ui object -->
		<div id="wrap">
			<p>#wrap</p>
			<!--header -->
			<div id="header">
			  <p>#header</p>
			</div>
			<!--//header -->
			<!--container -->
			<div id="container">
				<p>#container</p>
				<!--left-side-bar -->
				<div id="left-side-bar" class="left-side-bar open">
				  <ul>
            <li>#left-side-bar</li>
          </ul>
          <div id="left-side-boundary">
            <span>
              <button onclick="switching_left_side_bar()"></button>
            </span>
          </div>
				</div>
				<!--//left-side-bar -->
				<!--content -->
				<div id="content">
				  <p>#content</p>
				</div>
				<!--//content -->
				<!--right-side-bar -->
				<div id="right-side-bar" class="right-side-bar open">
          <div id="right-side-boundary">
            <span>
              <button onclick="switching_right_side_bar()"></button>
            </span>
          </div>
				  <ul>
            <li>#right-side-bar</li>
          </ul>
				</div>
				<!--//right-side-bar -->
				<div class="clear">
				</div>
			</div>
			<!--//container -->
			<!--footer -->
			<div id="footer">
			  <p>#footer</p>
			</div>
			<!--//footer -->
		</div>
		<!--//ui object -->
	</body>
</html>