<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>Insert title here</title>
	  <link rel=stylesheet href="../css/two_column_layout.css" type="text/css">
	</head>
	<body>
	  <!--ui object -->
    <div id="wrap">
      <p>#wrap</p>
      <!--header -->
      <div id="header">
        <p>#header</p>
      </div>
      <!--//header --> 
      <!--container -->
      <div id="container">
        <p>#container</p>
        <!-- left-side-bar -->
        <div id="left-side-bar">
          <p>#left-side-bar</p>
        </div>
        <!--//left --> 
        <!--content -->
        <div id="content">
          <p>#content</p>
        </div>
        <!--//content -->
      </div>
      <!--//container --> 
      <!--footer -->
      <div id="footer">
        <p>#footer</p>
      </div>
      <!--//footer -->
    </div>
    <!--//ui object -->
	</body>
</html>