<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>DiagramTool</title>
		<link rel=stylesheet href="../css/diagram_tool.css" type="text/css">
    <script type="text/javascript" src="../../common/js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="../../common/js/raphael-min.js"></script>
    <script type="text/javascript" src="../../common/js/log4javascript.js"></script>
    <script type="text/javascript" src="../js/diagram_tool.js"></script>
	</head>
	<body>
	  <button id="modeChangeBtn">Mode Change</button>
	  <div id="diagramTool1"></div>
	  <div class="clear"></div>
	  <div id="diagramTool2"></div>
	</body>
</html>