@CHARSET "UTF-8";

/* UI Object */ /* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select
	{
	margin: 0;
	padding: 0;
}

body,input,textarea,select,button,table {
	font-family: '돋움', Dotum, AppleGothic, sans-serif;
	font-size: 12px;
}

img,fieldset {
	border: 0;
}

ul,ol {
	list-style: none;
}

em,address {
	font-style: normal;
}

a {
	text-decoration: none;
}

a:hover,a:active,a:focus {
	text-decoration: underline;
}

#popup-button {
  position: relative;
  width: 50px;
  height: 30px;
}

.speech-bubble-div {
	position: absolute;
	z-index: 10;
	margin-top: -10px;
	border: 1px solid #888;
	background: #fff;
	text-align: left;
	display: none;
}

.speech-bubble-div .popup-close-anchor {
	position: absolute;
	top: 3px;
	right: 4px;
}

.speech-bubble-div strong {
	display: block;
	margin-bottom: -5px;
	padding: 9px 0 0 9px;
	font-size: 11px;
	color: #2c2c2c;
	letter-spacing: -1px;
}

.speech-bubble-div p {
	padding: 8px 0 6px 9px;
	font-size: 11px;
	color: #828282;
	line-height: 16px;
	letter-spacing: -1px;
}

.speech-bubble-div p em {
	color: #268e00;
}

.speech-bubble-div .edge-center {
	position: absolute;
	top: 0;
	left: 50%;
	width: 9px;
	height: 6px;
	margin: -6px 0 0 -5px;
	background: url(../image/bg_layer_edge.gif)
		no-repeat 0 0;
	font-size: 0;
}

.speech-bubble-div .edge-rgt {
	position: absolute;
	top: 0;
	right: 0;
	width: 9px;
	height: 6px;
	margin-top: -6px;
	background: url(../image/bg_layer_edge.gif)
		no-repeat 0 0;
	font-size: 0;
}
/* //UI Object */